In [1]:
import pandas as pd
df=pd.read_excel("weather_data_XL.xlsx")

In [3]:
df

        Date        City  Temperature_C  Humidity_% Condition
0 2025-01-01    Hyderbad             28          60     Sunny
1 2025-01-02    Hyderbad             29          62     Sunny
2 2025-01-03    Hyderbad             30          58    Cloudy
3 2025-01-04    Hyderbad             31          55    Cloudy
4 2025-01-05    Banglore             32          57     Rainy
5 2025-01-06    Banglore             33          59     Rainy
6 2025-01-07    Banglore             34          61     Sunny
7 2025-01-08    Banglore             32          63    Cloudy
8 2025-01-09  Vijayawada             31          64     Rainy
9 2025-01-10  Vijayawada             29          62     Sunny

# Statistics analysis

In [4]:
df.Temperature_C.min()

28

In [5]:
df.Temperature_C.max()

34

In [6]:
df.Temperature_C.mean()

np.float64(30.9)

In [7]:
df.Temperature_C.std()

1.911950719959998

In [8]:
df.Temperature_C.var()

3.6555555555555554

In [9]:
df.Temperature_C.count()

np.int64(10)

In [10]:
df.Temperature_C.sum()

np.int64(309)

In [11]:
df.describe()

                      Date  Temperature_C  Humidity_%
count                   10      10.000000    10.00000
mean   2025-01-05 12:00:00      30.900000    60.10000
min    2025-01-01 00:00:00      28.000000    55.00000
25%    2025-01-03 06:00:00      29.250000    58.25000
50%    2025-01-05 12:00:00      31.000000    60.50000
75%    2025-01-07 18:00:00      32.000000    62.00000
max    2025-01-10 00:00:00      34.000000    64.00000
std                    NaN       1.911951     2.84605

In [12]:
df.Temperature_C.describe()

count    10.000000
mean     30.900000
std       1.911951
min      28.000000
25%      29.250000
50%      31.000000
75%      32.000000
max      34.000000
Name: Temperature_C, dtype: float64

# New Data

In [13]:
import pandas as pd
df=pd.read_csv("mobile_usage_data.csv")

In [14]:
df

         Date        Day  Screen_Time_Hours  Data_Used_GB
0  01-02-2025     Monday                4.5           1.2
1  02-02-2025    Tuesday                5.2           1.5
2  03-02-2025  Wednesday                6.0           2.0
3  04-02-2025   Thursday                4.8           1.8
4  05-02-2025     Friday                5.5           1.4
5  06-02-2025   Saturday                7.0           2.5
6  07-02-2025     Sunday                6.5           3.5

#Statistical analysis

In [15]:
df.Screen_Time_Hours.min()

4.5

In [16]:
df.Screen_Time_Hours.max()

7.0

In [17]:
df.Screen_Time_Hours.mean()

np.float64(5.642857142857143)

In [18]:
df.Screen_Time_Hours.std()

0.9071147352221454

In [19]:
df.Screen_Time_Hours.var()

0.8228571428571428

In [20]:
df.Screen_Time_Hours.count()

np.int64(7)

In [21]:
df.Screen_Time_Hours.sum()

np.float64(39.5)

In [22]:
df.describe()

       Screen_Time_Hours  Data_Used_GB
count           7.000000      7.000000
mean            5.642857      1.985714
std             0.907115      0.794625
min             4.500000      1.200000
25%             5.000000      1.450000
50%             5.500000      1.800000
75%             6.250000      2.250000
max             7.000000      3.500000

In [24]:
df.Screen_Time_Hours.describe()

count    7.000000
mean     5.642857
std      0.907115
min      4.500000
25%      5.000000
50%      5.500000
75%      6.250000
max      7.000000
Name: Screen_Time_Hours, dtype: float64